GLOBAL_PREFIX="v1/manager/api"
GLOBAL_PREFIX_MAKETING="v1/maketing/api"

MANAGER_CLIENT_PORT=4201
MAKETING_CLIENT_PORT=4300

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=family_coffee_db